<%= form_for(@songplaylink) do |f| %>
  <% if @songplaylink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@songplaylink.errors.count, "error") %> prohibited this songplaylink from being saved:</h2>

      <ul>
      <% @songplaylink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :song_id %><br>
    <%= f.number_field :song_id %>
  </div>
  <div class="field">
    <%= f.label :playlist_id %><br>
    <%= f.number_field :playlist_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
